{% extends "modeltype_layout.html" %}
{% block content %}
    <div align="center" class="jumbotron-fluid text-info">
        <h1 class="display-4">{{ Model[modeltype_code] }}</h1>
        <div class="row">
            {% for modelgroup_tmp in ModelGroup[modeltype_code] %}
            {% for order_tmp in Order %}
            {% if Order[order_tmp]['ModelName'] ==  modelgroup_tmp %}
            <div class="col-sm-3" style="border: 1px solid #29a3a3;">
                <div>{{ Order[order_tmp]['OrderName'] }}</div>
                <div>
                    <img src="{{ Order[order_tmp]['pic'] }}" alt="{{ Order[order_tmp]['OrderName'] }}" width="60%" />
                </div>
                <div>
                    <form class="form-group" action="/GetOrder" method="post">
                        <label>{{ Order[order_tmp]['cost'] }} Baht</label>
                        <button class="btn btn-info" name="OrderCode" value="{{ order_tmp }}" type="submit">Buy</button>
                    </form>
                </div>
                <div>
                    <div>Spec1 : {{ Order[order_tmp]['Spec1'] }}</div>
                    <div>Spec2 : {{ Order[order_tmp]['Spec2'] }}</div>
                    <div>Spec3 : {{ Order[order_tmp]['Spec3'] }}</div>
                    <div>Spec4 : {{ Order[order_tmp]['Spec4'] }}</div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}