{% extends "layout.html" %}
{% block content %}
    <div align="center" class="jumbotron-fluid">
        <h1 class="display-4">Your resualt : {{ q }}</h1>
        <div class="row">
            {% for tmp in order_list %}
            <div class="col-sm-3" style="border: 1px solid #29a3a3;">
                <div>{{ Order[tmp]['OrderName'] }}</div>
                <div>
                    <img src="{{ Order[tmp]['pic'] }}" alt="{{ Order[tmp]['OrderName'] }}" width="60%" />
                </div>
                <div>
                    <form class="form-group" action="/GetOrder" method="post">
                        <label>{{ Order[tmp]['cost'] }} Baht</label>
                        <button class="btn btn-info" name="OrderCode" value="{{ tmp }}" type="submit">Buy</button>
                    </form>
                </div>
                <div>
                    <div>Spec1 : {{ Order[tmp]['Spec1'] }}</div>
                    <div>Spec2 : {{ Order[tmp]['Spec2'] }}</div>
                    <div>Spec3 : {{ Order[tmp]['Spec3'] }}</div>
                    <div>Spec4 : {{ Order[tmp]['Spec4'] }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
