{% extends "layout.html" %}
{% block content %}
<div align="center" class="container text-info">
   <h1 class="display-4">Tracking with your Username and Password</h1>
   <div>
       <form class="form-group" method="post" action="/Tracking/User/Track">
           <label>Username : </label>
           <input type="text" name="UserName" placeholder="Username..."/><br />
           <label>Password : </label>
           <input type="password" name="PassWord" placeholder="Password..."/><br />
           <button class="btn btn-info" type="submit">Track</button>
       </form>
   </div>
</div>
{% endblock %}
