{% extends "layout.html" %}
{% block content %}
<div align="center" class="jumbotron-fluid text-info">
    <h1 class="display-4">Latest Order Update</h1>
    <div class="row">
        {% for latestorder_tmp in LatestOrder %}
        <div class="col-sm-3" style="border: 1px solid #29a3a3;">
            <div>{{ LatestOrder[latestorder_tmp]['OrderName'] }}</div>
            <div>
                <img src="{{ LatestOrder[latestorder_tmp]['pic'] }}" alt="{{ LatestOrder[latestorder_tmp]['OrderName'] }}" width="60%"/>
            </div>
            <div>
                <form class="form-group" action="/GetOrder" method="post">
                    <label>{{ LatestOrder[latestorder_tmp]['cost'] }} Baht</label>
                    <button class="btn btn-info" name="OrderCode" value="{{ latestorder_tmp }}" type="submit">Buy</button>
                </form>
            </div>
            <div>
                <div>Spec1 : {{ LatestOrder[latestorder_tmp]['Spec1'] }}</div>
                <div>Spec2 : {{ LatestOrder[latestorder_tmp]['Spec2'] }}</div>
                <div>Spec3 : {{ LatestOrder[latestorder_tmp]['Spec3'] }}</div>
                <div>Spec4 : {{ LatestOrder[latestorder_tmp]['Spec4'] }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div align="center" class="jumbotron-fluid text-danger">
    <h1 class="display-4">Hotest Order Update</h1>
    <div class="row">
        {% for hotestorder_tmp in HotestOrder %}
        <div class="col-sm-3" style="border: 1px solid red;">
            <div>{{ HotestOrder[hotestorder_tmp]['OrderName'] }}</div>
            <div>
                <img src="{{ HotestOrder[hotestorder_tmp]['pic'] }}" alt="{{ HotestOrder[hotestorder_tmp]['OrderName'] }}" width="60%" />
            </div>
            <div>
                <form class="form-group" action="/GetOrder" method="post">
                    <label>{{ HotestOrder[hotestorder_tmp]['cost'] }} Baht</label>
                    <button class="btn btn-info" name="OrderCode" value="{{ hotestorder_tmp }}" type="submit">Buy</button>
                </form>
            </div>
            <div>
                <div>Spec1 : {{ HotestOrder[hotestorder_tmp]['Spec1'] }}</div>
                <div>Spec2 : {{ HotestOrder[hotestorder_tmp]['Spec1'] }}</div>
                <div>Spec3 : {{ HotestOrder[hotestorder_tmp]['Spec1'] }}</div>
                <div>Spec4 : {{ HotestOrder[hotestorder_tmp]['Spec1'] }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
